.Productpreview {
  width: 100%;
  position: relative;
}
.Productpreview > img {
  width: 100%;
}
.TimeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.HeartaBeatSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.HeartaBeatSection > p {
  margin-top: 16px;
}
.HeartaBeatSection > i {
  color: red;
}
